/Constantes.class
/ErreurException.class
/FinException.class
/FonctionException.class
/InconnuException.class
/LectureException.class
/LinotteException.class
/MathematiquesException.class
/Messages.class
/PositionException.class
/RetourException.class
/RetournerException.class
/RoleException.class
/StopException.class
/SyntaxeException.class
/FonctionDoucleException.class
/FonctionDoublureException.class
