/InverseInterneMethod.class
/InverserMethodeInterne.class
/RemplacerMethodeInterne.class
/MajusculeMethodeInterne.class
/MinusculeMethodeInterne.class
/CapilaleMethodeInterne.class
/TailleMethodeInterne.class
/PositionMethodeInterne.class
/ExtraireMethodeInterne.class
/MelangeMethodeInterne.class
/CapitaleMethodeInterne.class
/CapitaliserMethodeInterne.class
