/ACos.class
/ASin.class
/ATan.class
/Abs.class
/Arrondi.class
/Ascii.class
/Carre.class
/Chr.class
/Clone.class
/Cos.class
/Cube.class
/Decimal.class
/Entier.class
/Exp.class
/Hasard.class
/Log.class
/LogN.class
/Negatif.class
/Non.class
/Racine.class
/Sin.class
/Tan.class
/Unicode.class
/Positif.class
